<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>{{ page.title }} - CHAP Links Library</title>
  
  <meta name="title" content="{{ page.title }} - CHAP Links Library">   
  <meta name="keywords" content="chap, links, library, chap links library, javascript, visualization, timeline, graph, graph3d, network, treegrid,  toolkit" >
  <meta name="description" content="CHAP Links Library is a web based visualization library. The library is specially designed to be easy to use, to handle large amounts of data, and to enable manipulation of the data." >
  <meta name="author" content="Almende B.V." >

  <link rel="shortcut icon" href="img/favicon.ico" >
  <link type="text/css" rel="stylesheet" href="css/style.css"> 

  <script type="text/javascript" src="script/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="script/files.js"></script>

</head>

<body>

<a href="https://github.com/almende/chap-links-library" style="position: fixed; top: 0; right: 0; border: 0;" >
  <img 
    src="img/forkme_right_darkblue_121621.png" 
    alt="Fork me on GitHub" >
</a>
  
<div id="container">

<div id="menu">
<div id="menu-inner">

<a href="http://almende.github.com/chap-links-library"><img src="img/logo/links128.png" alt="logo"></a>
<br>

<div class="nav">
<ul>
  <li>
    Links
    <ul>
      <li><a class="nav" href="index.html">Overview</a></li>
      <li><a class="nav" href="downloads.html">Downloads</a></li>
    </ul>
  </li>
  
  <li>
    Components
    <ul>
      <li><a class="nav" href="graph.html">Graph</a></li>
      <li><a class="nav" href="graph3d.html">Graph3D</a></li>   
      <li><a class="nav" href="network.html">Network</a></li>   
      <li><a class="nav" href="timeline.html">Timeline</a></li>   
      <li><a class="nav" href="treegrid.html">TreeGrid</a></li>   
    </ul>
  </li>
</ul>
</div>

</div>
</div>

<div id="contents">
  {{ content }}
  
  <div class="lastupdate">
  Last updated: {{ site.time | date_to_long_string }}
  </div>
</div>

</div>
</body>
</html>
